@using AvenueClothing.Models
@model CategoryNavigationViewModel

@{
    Layout = null;
}

<nav id="category-nav" class="collapse category-nav" >
    <div class="navigation-dropdown-wrapper">
        <div class="container">
            <div class="d-flex flex-wrap flex-md-nowrap bg-white">
                @helper DisplayCategories(IList<CategoryViewModel> categories)
                {
                    var featuredCategory = categories.FirstOrDefault();
                    var remainingCategories = categories.Skip(1).Take(4);

                    <div class="bg-black text-white p-4 navigation-dropdown-featured-item">
                        <h5 class="h6 mb-3">Featured</h5>

                        <ul>
                            <li>
                                <a href="@featuredCategory.Url">
                                    All @featuredCategory.Name
                                </a>
                            </li>
                            @DisplaySubcategories(featuredCategory.Categories)
                        </ul>
                    </div>

                    foreach (var category in remainingCategories)
                    {
                        <div class="p-4 navigation-dropdown-item">
                            <h5 class="h6 mb-3">@category.Name</h5>

                            <ul>
                                <li>
                                    <a href="@category.Url">
                                        All @category.Name
                                    </a>
                                </li>

                                @DisplaySubcategories(category.Categories)
                            </ul>
                        </div>
                    }
                }

                @DisplayCategories(Model.Categories)
            </div>
        </div>
    </div>
</nav>


@helper DisplaySubcategories(IList<CategoryViewModel> subcategories)
{
    foreach (var subcategory in subcategories)
    {
        <li>
            <a href="@subcategory.Url">
                @subcategory.Name
            </a>
        </li>
    }
}