@using AvenueClothing.Models
@model CategoryNavigationViewModel

@{
    Layout = null;
}

<nav id="category-nav" class="collapse category-nav">
    <div class="navigation-dropdown-wrapper">
        <div class="container">
            <div class="d-flex bg-white">
                <div class="bg-black text-white p-4">
                    <h5 class="h6 mb-3">Featured<h5>
                    <ul>
                        <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                        <li><a href="#">Amet Consectetur</a></li>
                        <li><a href="#">Adipiscing Slit</a></li>
                        <li><a href="#">Sed Su </a></li>
                        <li><a href="#">Suscipit Est</a></li>
                        <li><a href="#">Quisque Vitae Tortor</a></li>
                        <li><a href="#">Ac Nulla Dictum</a></li>
                        <li><a href="#">Pulvinar Bibendum</a></li>
                    </ul>
                </div>

                @helper DisplayCategories(IList<CategoryViewModel> categories)
                {
                    foreach (var category in categories)
                    {
                        <div class="p-4">
                            <h5 class="h6 mb-3">@category.Name<h5>

                            <ul>
                                <li>
                                    <a href="@category.Url">
                                        All @category.Name
                                    </a>
                                </li>

                                @DisplaySubcategories(category.Categories)
                            </ul>
                        </div>
                    }
                }

                @DisplayCategories(Model.Categories)
            </div>
        </div>
    </div>
</nav>


@helper DisplaySubcategories(IList<CategoryViewModel> subcategories)
{
    foreach (var subcategory in subcategories)
    {
        <li>
            <a href="@subcategory.Url">
                @subcategory.Name
            </a>
        </li>
    }
}