@model AvenueClothing.Models.ProductsViewModel
@{
    Layout = null;
}
<div class="product-list multi-item-carousel js-multi-item-carousel mb-5">
    @foreach (var product in Model.Products)
    {
        <a href="@product.Url" class="">
            <div class="product-image mb-3">
                <img class="img-fluid" src="@product.ThumbnailImageUrl">
            </div>

            <div class="mx-2">
                <p class="mb-1 text-truncate">
                    @product.Name
                </p>
                @if (product.Price != null)
                {
                    <p class="mb-1">
                        <strong>@product.Price</strong>
                    </p>
                }
            </div>
        </a>
    }

    @foreach (var product in Model.Products)
        {
            <a href="@product.Url" class="">
                <div class="product-image mb-3">
                    <img class="img-fluid" src="@product.ThumbnailImageUrl">
                </div>
    
                <div class="mx-2">
                    <p class="mb-1 text-truncate">
                        @product.Name
                    </p>
                    @if (product.Price != null)
                    {
                        <p class="mb-1">
                            <strong>@product.Price</strong>
                        </p>
                    }
                </div>
            </a>
        }
    
    @foreach (var product in Model.Products)
        {
            <a href="@product.Url" class="">
                <div class="product-image mb-3">
                    <img class="img-fluid" src="@product.ThumbnailImageUrl">
                </div>
    
                <div class="mx-2">
                    <p class="mb-1 text-truncate">
                        @product.Name
                    </p>
                    @if (product.Price != null)
                    {
                        <p class="mb-1">
                            <strong>@product.Price</strong>
                        </p>
                    }
                </div>
            </a>
        }    
    
    @foreach (var product in Model.Products)
        {
            <a href="@product.Url" class="">
                <div class="product-image mb-3">
                    <img class="img-fluid" src="@product.ThumbnailImageUrl">
                </div>
    
                <div class="mx-2">
                    <p class="mb-1 text-truncate">
                        @product.Name
                    </p>
                    @if (product.Price != null)
                    {
                        <p class="mb-1">
                            <strong>@product.Price</strong>
                        </p>
                    }
                </div>
            </a>
        }
    
    
</div>