@using AvenueClothing.Models
@model CategoryNavigationViewModel

@{
    Layout = null;
}

@DisplayfooterCategories(Model.Categories)

@helper DisplayfooterCategories(IList<CategoryViewModel> categories)
{
    var footerCategories = categories.Take(3);

    foreach (var category in footerCategories)
    {
        <div class="col-6 col-md-3 col-lg-2 pb-4 pb-lg-2">
            <h6 class="mb-3 text-uppercase">@category.Name</h6>
            <ul>
                @DisplayFooterSubcategories(category.Categories)
            </ul>
        </div>
    }
}

@helper DisplayFooterSubcategories(IList<CategoryViewModel> subcategories)
{
    foreach (var subcategory in subcategories)
    {
        <li>
            <a href="@subcategory.Url">
                @subcategory.Name
            </a>
        </li>
    }
}
