@using UCommerce.RazorStore.Models
@model UCommerce.RazorStore.Models.FacetsDisplayedViewModel
@{
    Layout = "";
}
@foreach (var facet in @Model.Facets)
{
    <div class="well">
        <legend>@facet.DisplayName</legend>
        @foreach (var value in facet.FacetValues)
        {
            <label>
                <input type="checkbox" id="filter-@facet.Name-@value.FacetValueName" key="@facet.Name" class="filter" value="@value.FacetValueName">
                @value.FacetValueName (@value.FacetValueHits)
            </label>
        }

    </div>
}
