@using UCommerce
@using UCommerce.Api
@using UCommerce.Runtime
@{
    var request = HttpContext.Current.Request;
    var basket = TransactionLibrary.GetBasket(true).PurchaseOrder;
    var currency = SiteContext.Current.CatalogContext.CurrentCatalog.PriceGroup.Currency;

    if (request.HttpMethod == "POST" && request.Form.AllKeys.Any(x => x == "update-and-continue"))
    {
        @* For this helper functions refer to /App_Code/uCommerce/Functions/Basket.cshtml *@
        uCommerce.Functions.Basket.UpdateCartLines("update-and-continue", "quantity-input-", basket);
        HttpContext.Current.Response.Redirect("Address.aspx");
    }
    if (request.HttpMethod == "POST")
    {
        HttpContext.Current.Response.Redirect(request.RawUrl);
    }

    var subTotal = new Money(basket.SubTotal.Value, currency);
    var vat = new Money(basket.VAT.Value, currency);
    var discount = new Money(basket.Discount.Value, currency);
    var orderTotal = new Money(basket.OrderTotal.Value, currency);
}
<form method="post">
<div class="row-fluid">
    <table class="table table-striped" id="cart">
        <thead>
            <tr>
                <th class="span7">Description</th>
                <th class="span1 money">Price</th>
                <th class="span1 money">VAT</th>
                <th class="span2">Quantity</th>
                <th class="span1 money">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in basket.OrderLines)
            {
                var product = @CatalogLibrary.GetProduct(lineItem.Sku);
                var itemPrice = new Money(lineItem.Price, currency);
                var itemTax = new Money(lineItem.VAT, currency);
                var lineTotal = new Money(lineItem.Total.Value, currency);

                <tr class="order-line">
                    <td><a href="@CatalogLibrary.GetNiceUrlForProduct(product)">@lineItem.ProductName</a> </td>
                    <td class="money">
                        @if (lineItem.UnitDiscount.HasValue && lineItem.UnitDiscount > 0)
                        {
                            var nowPrice = new Money((lineItem.Price - lineItem.UnitDiscount.Value), currency);
                            
                            <span style="text-decoration: line-through">
                                @itemPrice
                            </span>
                            @nowPrice    
                        }
                        else
                        {
                            @itemPrice
                        }
                    </td>
                    <td class="money">
                        @itemTax
                    </td>
                    <td>
                        <input type="text" name="quantity-input-@lineItem.OrderLineId" data-orderlineid="@lineItem.OrderLineId" value="@lineItem.Quantity" class="qty" />
                    </td>
                    <td class="money line-total">
                        @lineTotal
                    </td>
                    <td>
                        <button type="submit" class="line-remove" name="basket-remove-item" value="@lineItem.OrderLineId">×</button></td>
                </tr>
            }
            <tr>
                <td rowspan="4">
                    <div class="span6">
                        <div class="input-append">
                            <input type="text" name="voucher-code" />
                            <button name="add-voucher" class="btn" type="submit"><i class="icon-plus icon-white"></i>Add Voucher</button>
                        </div>
                        <p><span class="label label-info">Tip!</span> <small>Sign up to our mailing list and get 10% off your first order! <a href="#">Click here to get 10% off now</a>!</small></p>
                    </div>
                </td>
                <td colspan="2" rowspan="4">
                    <button name="update-basket" id="update-basket" class="btn update-basket" type="submit"><i class="icon-refresh icon-white"></i>Update</button>
                </td>
                <td>Sub total:</td>
                <td class="money order-subtotal">
                    @subTotal
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>VAT:</td>
                <td class="money order-tax">
                    @vat
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Discounts:</td>
                <td class="money order-discounts">
                    @discount
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Order total:</td>
                <td class="money order-total">
                    @orderTotal
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
        <button name="update-and-continue" class="btn btn-large btn-success" type="submit">Continue to Checkout <i class="icon-arrow-right icon-white"></i></button>
    </div>
</div>
</form>
