@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Extensions
@using UCommerce.Runtime
@using umbraco.MacroEngines
@{
    Category category = SiteContext.Current.CatalogContext.CurrentCategory;
}
<div class="row-fluid">
    <div class="hero-unit">
        @if (!string.IsNullOrEmpty(category.ImageMediaId))
        {
            dynamic mediaItem = new DynamicMedia(category.ImageMediaId);
            <img src="@mediaItem.umbracoFile" alt="@category.DisplayName()" />
        }
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @foreach (var product in CatalogLibrary.GetProducts(category))
        {
            var price = CatalogLibrary.CalculatePrice(product);
            <div class="product span4">
                <div class="product-image">
                    @if (!string.IsNullOrEmpty(product.ThumbnailImageMediaId))
                    {
                        dynamic mediaItem = new DynamicMedia(product.ThumbnailImageMediaId);
                        <img src="@mediaItem.umbracoFile" />
                    }
                    @if (product.ProductReviews.Any())
                    {
                        var rating = product.ProductReviews.Average(r => r.Rating);
                        <p class="ratings"><span>
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (rating >= i)
                                {
                                <i class="icon-star"></i>
                                }
                                else
                                {
                                <i class="icon-star-empty"></i>
                                }
                            }
                        </span></p>
                    }
                </div>
                <p class="item-name"><a href="@CatalogLibrary.GetNiceUrlForProduct(product, category)">@product.DisplayName()</a></p>
                <p class="item-price">@price.YourPrice.AmountExclTax.Value.ToString("#,##.00")</p>
            </div>    
        }
    </div>
</div>