@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Extensions
@using UCommerce.Runtime
@using umbraco.MacroEngines
@{
    Category category = SiteContext.Current.CatalogContext.CurrentCategory;
}
<div class="row-fluid">
    <h1>@category.DisplayName()</h1>
</div>
<hr />
<div class="row-fluid">
    <div class="span12">
        <h2>Products</h2>
        @foreach (var product in CatalogLibrary.GetProducts(category))
        {
            var price = CatalogLibrary.CalculatePrice(product);
            <div class="product span4">
                @if (!string.IsNullOrEmpty(product.PrimaryImageMediaId))
                {
                    dynamic mediaItem = new DynamicMedia(product.ThumbnailImageMediaId);
                    <img src="@mediaItem.umbracoFile" />
                }
                <span class="ratings">
                @if (product.ProductReviews.Any())
                {
                    var rating = product.ProductReviews.Average(r => r.Rating);
                    for (int i = 1; i <= 5; i++)
                    {
                        if (rating >= i)
                        {
                    <i class="icon-star"></i>
                        }
                        else
                        {
                    <i class="icon-star-empty"></i>
                        }
                    }
                }
                </span>
                <p class="item-name"><a href="@CatalogLibrary.GetNiceUrlForProduct(product, category)">@product.DisplayName()</a></p>
                <p class="item-price">@price.YourPrice.AmountExclTax.Value.ToString("#,##.00")</p>
            </div>    
        }
    </div>
</div>
