@using UCommerce.Catalog

GetCatalog(): @CatalogLibrary.GetCatalog().Name<br />
GetCatalog("uCommerce"): @CatalogLibrary.GetCatalog("uCommerce").Name<br />
GetCatalog("23"): @CatalogLibrary.GetCatalog("23").Name<br />
GetCatalog(23): @CatalogLibrary.GetCatalog(23).Name<br />


<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        <tr>
        <td>@product.Name</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Sku, catalogName: category.ProductCatalog.Name)</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Sku, category.Name, category.ProductCatalog.Name)</td>
        </tr>
    } 
}
</table>

<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        <tr>
        <td>@product.Name</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Sku)</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Sku, category.Name)</td>
        </tr>
    } 
}
</table>

<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        <tr>
        <td>@product.Name</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Id)</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product.Id, category.Id)</td>
        </tr>
    } 
}
</table>
<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        <tr>
        <td>@product.Name</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product)</td>
        <td>@CatalogLibrary.GetNiceUrlForProduct(product, category)</td>
        </tr>
    } 
}
</table>
<hr />
<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        foreach (var variant in product.Variants)
        {
        <tr>
            <td>@variant.Name</td>
            <td>@CatalogLibrary.GetNiceUrlForVariant(variant.VariantSku, variant.Sku, catalogName: category.ProductCatalog.Name)</td>
            <td>@CatalogLibrary.GetNiceUrlForVariant(variant.VariantSku, variant.Sku, category.Name, category.ProductCatalog.Name)</td>
        </tr>
        }
    } 
}
</table>



<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    foreach (var product in category.Products)
    {
        foreach (var variant in product.Variants)
        {
        <tr>
            <td>@variant.Name</td>
            <td>@CatalogLibrary.GetNiceUrlForVariant(variant.VariantSku, variant.Sku)</td>
            <td>@CatalogLibrary.GetNiceUrlForVariant(variant.VariantSku, variant.Sku, category.Name)</td>
        </tr>
        }
    } 
}
</table>

<hr />
<table border="1">

@foreach(var category in CatalogLibrary.GetCatalog().Categories){
    <tr>
        <td>@category.Name</td>
        <td>@CatalogLibrary.GetNiceUrlForCategory(category.Name, category.ProductCatalog.Name)</td>
        <td>@CatalogLibrary.GetNiceUrlForCategory(category.Name)</td>
    </tr>
}
</table>
@*
<ul>
@{var dd = UCommerce.EntitiesV2.Category.All().Where(x=>x.Name.Length < 88888);}
<h3>@dd.Count()</h3>
@foreach (var cat in CatalogLibrary.GetCatalog("uCommerce").Categories)
{
    <li>@cat.Name</li>
}

</ul>

*@