@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Extensions
@using UCommerce.Runtime
<ul class="breadcrumb">
    @{ Category lastCategory = null; foreach (var category in SiteContext.Current.CatalogContext.CurrentCategories)
        {
            <li class="breadcrumb-item">
                <a href="@CatalogLibrary.GetNiceUrlForCategory(category)">@category.DisplayName()</a>
                
            </li>lastCategory = category;
        }
        Product product = SiteContext.Current.CatalogContext.CurrentProduct;
        if (product != null)
        {
        <li class="breadcrumb-item">
            <a href="@CatalogLibrary.GetNiceUrlForProduct(product, lastCategory)">@product.DisplayName()</a>
        </li>}
    if (lastCategory == null && product == null) {
        foreach (var
level in Model.Ancestors().Where("Visible"))
        {
            <li class="breadcrumb-item">
                <a href="@level.Url">@level.Name</a> 
            </li>}
        <li class="breadcrumb-item">@Model.Name</li>} }
</ul>

