@using UCommerce
@using UCommerce.EntitiesV2
@using UCommerce.Api
@{
    if (HttpContext.Current.Request.HttpMethod == "POST" && HttpContext.Current.Request.Form.AllKeys.Any(x => x == "update-shipment"))
    {
        int newShipmentId;
        if(int.TryParse(HttpContext.Current.Request.Form["shipping-method"], out newShipmentId))
        {
            TransactionLibrary.CreateShipment(newShipmentId, overwriteExisting: true);
            TransactionLibrary.ExecuteBasketPipeline();
            HttpContext.Current.Response.Redirect("Payment.aspx");
        }
        
    }
    
    var basket = TransactionLibrary.GetBasket().PurchaseOrder;
    var currentShippingMethod = TransactionLibrary.GetShippingMethod();
}
@helper RenderShippingMethodLabel(ShippingMethod shippingMethod, PurchaseOrder basket)
{
    var price = shippingMethod.GetPriceForCurrency(basket.BillingCurrency);
    var formattedPrice = new Money((price == null ? 0 : price.Price), basket.BillingCurrency);

    @shippingMethod.Name <text>(</text>@formattedPrice<text>)</text>
}
@{
    var shippingCountry = TransactionLibrary.GetShipmentInformation().Country;
    var availableShippingMethods = TransactionLibrary.GetShippingMethods(shippingCountry);
}
<form  method="post">
    <div class="row well" >
        <div class="col-md-6">
            <h3>Shipping method</h3>
            <br/>
            @if (availableShippingMethods.Any())
            {
                foreach (var shippingMethod in availableShippingMethods)
                {
                    <label class="radio">
                        <input type="radio" name="shipping-method"  @(shippingMethod.Equals(currentShippingMethod) ? "checked" : string.Empty) 
                               value="@shippingMethod.ShippingMethodId" />@RenderShippingMethodLabel(shippingMethod, basket)</label>
                }
            }
            else
            {
                <p class="alert">WARNING: No shipping methods have been configured for @shippingCountry.Name within <a href="http://ucommerce.dk">UCommerce</a> administration area.</p>
            }
        </div>
    </div>
    <a href="/cart/address.aspx" class="btn btn-secondary btn-sm">Back to Address</a>
    <button name="update-shipment" class="pull-xs-right btn btn-secondary btn-lg btn-success" type="submit">Continue to Confirmation <i class="icon-arrow-right icon-white"></i> </button>
</form>