@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Html.RequiresJs("~/scripts/jquery-3.0.0.slim.js",1);
    Html.RequiresJs("~/scripts/jquery-3.0.0.js",1);
    Html.RequiresJs("~/scripts/jquery.validate.min.js", 1);
    Html.RequiresJs("~/scripts/tether.min.js",1);
    Html.RequiresJs("~/scripts/bootstrap.js",1);
    Html.RequiresJs("~/scripts/ucommerce.servicestack.js",2);
    Html.RequiresJs("~/scripts/ucommerce.demostore.js",2);
    Html.RequiresJs("~/scripts/uCommerce.facets.js");
    Html.RequiresJs("~/scripts/ucommerce.bootstrap.js", 1);
    Html.RequiresJs("~/scripts/uCommerce.demostore.checkout.js",2);

    Html.RequiresCss("~/css/tether.css",2);
    Html.RequiresCss("~/css/bootstrap.min.css", 2);
    Html.RequiresCss("~/css/ucommerce.demostore.css",2);
    Html.RequiresCss("~/css/font-awesome.min.css",2);

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>uCommerce Razor Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Html.Raw(Html.RenderCssHere())

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @RenderSection("cphHead", false)
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-x']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    
        <div class="navbar navbar-fixed-top">
            <div class="container">

                <div class="row">
                    <div class="navbar-header">
                        <a class="col-md-3 navbar-brand" href="/">Avenue Clothing</a>
                    </div>

                    <form id="search-form" class="pull-xs-left form-inline navbar-form" action="/search">
                        <div class="input-append">
                            <input id="site-search" type="text" name="search" class="search-query form-control" placeholder="Search the store">
                            <button type="submit" class="btn btn-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <div class="pull-xs-right navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                @Umbraco.RenderMacro("uCommerceMiniBasket")
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="well sidebar-nav" id="main-nav">
                        @Umbraco.RenderMacro("uCommerceCategoryNavigation")
                    </div>
                    <div class="sidebar-nav" id="facets-nav">
                        @Umbraco.RenderMacro("uCommerceFacets")
                    </div>
                    <div class="well sidebar-nav" id="why-buy">
                        <ol>
                            <li><i class="fa fa-star"></i>5 star satisfaction</li>
                            <li><i class="fa fa-truck"></i>Free delivery</li>
                            <li>
                                Payment Information<br>
                                <img src="/img/ucommerce/cards.png" alt="We accept VISA, SOLO, PayPal, MasterCard" title="We accept VISA, SOLO, PayPal, MasterCard">
                            </li>
                        </ol>
                        <p id="powered-by-ucommerce">
                            <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank"><img src="/img/ucommerce/ucommerce.png" alt="Powered by uCommerce"></a>
                        </p>
                    </div>
                    <div class="well sidebar-nav" id="about">
                        <h5>About Avenue Clothing</h5>
                        <p>Avenue Clothing is an example store to demonstrate the simple -yet powerful e-commerce functionality uCommerce brings to Umbraco.</p>
                        <p>All products listed are from existing retailers but no orders will be fulfilled.</p>
                        <p>
                            <a href="http://ucommerce.dk" class="btn btn-default" title="The most feature rich e-commerce package for Umbraco">Find Out More</a>
                        </p>
                    </div>
                    <div class="well sidebar-nav" id="newsletter">
                        <h5>Keep up-to-date</h5>
                        <p>Sign up to our newsletter.</p>
                        <form action="http://thesitedoctor.createsend.com/t/y/s/xbjtk/" method="post" class="validate" id="newsletter-form">
                            <div class="input-append">
                                <input type="email" name="cm-xbjtk-xbjtk" id="xbjtk-xbjtk" class="required email span9 form-control">
                                <button type="submit" class="btn btn-default">Go</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    @Umbraco.RenderMacro("uCommerceBreadcrumbs")
                    @RenderBody()
                </div>
            </div>
            <hr>
            <footer>
                <asp:contentplaceholder runat="server" id="cphFoot"></asp:contentplaceholder>
                @RenderSection("cphFoot", false)
                <div class="col-sm-6 col-md-6">
                    <p>
                        © <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank">uCommerce ApS</a>
                    </p>
                </div>
                <div class="pull-right col-sm-6 col-md-6">
                    <p>
                        Store demo'd by <a href="http://www.thesitedoctor.co.uk/" title="The Site Doctor - Herefordshire based Web Design, Development and IT Consultancy" target="_blank">The Site Doctor</a> 2012
                    </p>
                </div>
            </footer>
        </div>
  
    @Html.Raw(Html.RenderJsHere())


    @*@RenderSection("cphScripts",false);*@
</body>
</html>
