@using AvenueClothing.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AddressDetailsViewModel>
@{
    Layout = "Layout.cshtml";}

<div class="container py-4">
    <form id="addressForm" method="post" class="validate">
        <div class="row">
            <div class="col-md-6">
            <div class="bg-light pt-4 px-4 pb-1 mb-4">
                <legend class="text-uppercase">Shipping address</legend>
                <div class="form-group row">
                    <div class="col-lg-6 control-group mb-3">
                        <label>First name</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.FirstName, new { @class = "form-control required", data_mirror = "FirstName" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Last name</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.LastName, new { @class = "form-control required", data_mirror = "LastName" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>E-mail</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.EmailAddress, new { @class = "form-control required email", data_mirror = "EmailAddress" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Phone</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.PhoneNumber, new { @class = "form-control", data_mirror = "PhoneNumber" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Address line 1</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.Line1, new { @class = "form-control required", data_mirror = "Line1" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Address line 2</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.Line2, new { @class = "form-control", data_mirror = "Line2" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>City</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.City, new { @class = "form-control required", data_mirror = "City" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>State</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.State, new { @class = "form-control", data_mirror = "State" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Postal code</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.PostalCode, new { @class = "form-control required", data_mirror = "PostalCode" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Country</label>
                        @Html.DropDownList("ShippingAddress.CountryId", Model.AvailableCountries, new { @class = "countryDropdownCheckout  form-control", data_mirror = "CountryId" })
                    </div>
                </div>
            </div>
            </div>

            <div id="billingAddress" class="col-md-6 collapse">
            <div class="bg-light pt-4 px-4 pb-1 mb-4">
                <legend class="text-uppercase">Billing address</legend>
                <div class="form-group row">
                    <div class="col-lg-6 control-group mb-3">
                        <label>First name</label>
                        @Html.TextBoxFor(x => x.BillingAddress.FirstName, new { @class = "form-control required" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Last name</label>
                        @Html.TextBoxFor(x => x.BillingAddress.LastName, new { @class = "form-control required" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>E-mail</label>
                        @Html.TextBoxFor(x => x.BillingAddress.EmailAddress, new { @class = "form-control" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Phone</label>
                        @Html.TextBoxFor(x => x.BillingAddress.PhoneNumber, new { @class = "form-control" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Address line 1</label>
                        @Html.TextBoxFor(x => x.BillingAddress.Line1, new { @class = "form-control required" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Address line 2</label>
                        @Html.TextBoxFor(x => x.BillingAddress.Line2, new { @class = "form-control" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>City</label>
                        @Html.TextBoxFor(x => x.BillingAddress.City, new { @class = "form-control required" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>State</label>
                        @Html.TextBoxFor(x => x.BillingAddress.State, new { @class = "form-control" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Postal code</label>
                        @Html.TextBoxFor(x => x.BillingAddress.PostalCode, new { @class = "form-control required" })
                    </div>

                    <div class="col-lg-6 control-group mb-3">
                        <label>Country</label>
                        @Html.DropDownList("BillingAddress.CountryId", Model.AvailableCountries, new { @class = "countryDropdownCheckout  form-control" })
                    </div>
                </div>
            </div></div>
        </div>

        <label class="form-check-label mb-4">
            <input id="toggleBillingView" type="checkbox" name="IsBillingAddressDifferent"  />
            <span class="cb"></span>
            Use a different address for billing
        </label>

        <footer class="page-footer d-flex flex-wrap justify-content-between">
            <a href="/basket" class="btn btn-outline-secondary mb-3">
                <span class="icon icon-xs mr-1 rotate-180 transform-from-bottom" aria-hidden="true" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/arrow-right.svg")))
                </span>
                <span class="d-none d-sm-inline">Back to </span>
                basket
            </a>
            <button type="submit" class="btn btn-primary mb-3">
                <span class="d-none d-sm-inline">Continue to </span>
                shipping method
                <span class="icon icon-xs ml-1 mb-1" aria-hidden="true" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/arrow-right.svg")))
                </span>
            </button>
        </footer>
    </form>
</div>








