@using AvenueClothing.Models;
@using ClientDependency;
@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage<CategoryViewModel>
@{
    Layout = "Layout.cshtml";
    // Html.RequiresJs("~/Scripts/uCommerce.category.js");
}

<div class="row">
    <div class="hero-unit mb-4">
        @if (!string.IsNullOrEmpty(Model.BannerImageUrl))
        {
            <img class="w-100" src="@Model.BannerImageUrl">
        }
        <div class="container">
            <h1 class="text-light text-uppercase">@Model.Name</h1>
        </div>
    </div>
</div>

@Html.HiddenFor(x => x.CatalogId, new {id = "catalog-id"})
@Html.HiddenFor(x => x.CategoryId, new {id = "category-id"})
<div class="row">
    <div class="container">
        <aside class="filterbar d-flex flex-wrap mb-4">
            @Umbraco.RenderMacro("UcommerceFacets")

            <div class="dropdown  ml-lg-auto d-inline-flex align-items-center">
                <select id="resultsToShow">
                    <option>12</option>
                    <option>24</option>
                    <option>48</option>
                    <option>96</option>
                </select>
                <label for="resultsToShow">Per page</label>
            </div>
        </aside>

        <div class="product-list">
            @foreach (var product in Model.Products)
            {
                <a href="@product.Url" id="@product.Sku" class="product mb-3">
                    <div class="product-image mb-3">
                        @if (!string.IsNullOrEmpty(product.ThumbnailImageUrl))
                        {
                            <img class="img-fluid" src="@product.ThumbnailImageUrl">
                        }
                    </div>

                    <div class="mx-2">
                        <p class="mb-1 text-truncate">
                            @product.Name
                        </p>
                        <p class="mb-1">
                            <strong>@product.Price</strong>
                        </p>
                    </div>
                </a>
            }
        </div>

        <nav class="page-navigation text-center mb-3" aria-label="Page navigation">
            <h6 class="mb-3"><span class="text-uppercase">Showing</span> 12 of 60 items</h6>

            <ul class="pagination mb-5 justify-content-center">
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
            </ul>

            <div class="btn btn-outline-dark">load more products</div>
        </nav>
    </div>
</div>