@using ClientDependency.Core.Mvc
@using AvenueClothing.Enums

@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    Html.RequiresJs("~/scripts/jquery-3.0.0.slim.js", 1);
    Html.RequiresJs("~/scripts/jquery-3.0.0.js", 1);
    Html.RequiresJs("~/scripts/jquery.validate.min.js", 1);
    Html.RequiresJs("~/scripts/tether.min.js", 1);
    Html.RequiresJs("~/scripts/bootstrap.min.js", 1);
    Html.RequiresJs("~/scripts/slick.min.js", 1);
    Html.RequiresJs("~/scripts/uCommerce.jQuery.js", 2);
    Html.RequiresJs("~/scripts/ucommerce.servicestack.js", 2);
    Html.RequiresJs("~/scripts/ucommerce.demostore.js", 2);
    Html.RequiresJs("~/scripts/uCommerce.facets.js");
    Html.RequiresJs("~/scripts/ucommerce.bootstrap.js", 1);
    Html.RequiresJs("~/scripts/uCommerce.demostore.checkout.js", 2);

    Html.RequiresCss("~/css/tether.css", 2);
    Html.RequiresCss("~/css/bootstrap.min.css", 2);
    Html.RequiresCss("~/css/slick.min.css", 2);
    Html.RequiresCss("~/css/ucommerce.demostore.css", 2);
    Html.RequiresCss("~/css/font-awesome.min.css", 2);

}
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Avenue Clothing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Html.Raw(Html.RenderCssHere())

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @RenderSection("cphHead", false)
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/img/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/fav/mstile-310x310.png" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-x']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })()
    </script>
</head>
<body class="theme-sdr d-flex flex-column h-100">
    <div class="sticky-top header-container">
        <div class="container">
            <header class="d-flex align-items-center">
                <button class="navbar-toggler border-0 p-0 mr-3 d-lg-none" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle site navigation">
                    <span class="icon icon-small icon-default" aria-hidden="true" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/menu.svg")))
                    </span>
                    <span class="icon icon-small icon-active px-1" aria-hidden="true" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/cross.svg")))
                    </span>
                </button>

                <a class="navbar-brand mr-auto mr-lg-4" href="/">Avenue Clothing</a>

                <button class="navbar-toggler border-0 mr-2 py-1  px-2 d-md-none" type="button" data-toggle="collapse" data-target="#navbar-form" aria-controls="navbar-form" aria-expanded="false" aria-label="Toggle search">
                    <span class="icon icon-xs" aria-hidden="true" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/mag-glass.svg")))
                    </span>
                </button>

                @Umbraco.RenderMacro("UcommerceMiniBasket")

                <div id="navbar-form" class="navbar-form col-md-3 collapse d-lg-block order-md-8 bg-white p-2 pl-0 mr-lg-2">
                    <form id="search-form" action="/search">
                        <div class="input-append d-flex">
                            <input id="site-search" type="text" name="search" class="form-control border-0 bg-transparent" placeholder="Search" />
                            <button type="submit" class="btn-search">
                                <span class="icon icon-small icon-default" role="img">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/mag-glass.svg")))
                                </span>
                                <span class="icon icon-small icon-active" aria-hidden="true" role="img">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/loader.svg")))
                                </span>
                                <span class="sr-only">Search site</span>
                            </button>
                        </div>
                    </form>
                </div>

                <nav id="main-nav" class="site-nav col-lg-3 mr-lg-auto collapse d-lg-inline-flex align-items-center" >
                    <ul class="d-flex justify-content-center justify-content-lg-start text-uppercase text-dark">
                        <li>
                            <a class="px-3" href="#category-nav" data-toggle="collapse" aria-expanded="false" aria-controls="category-nav">Shop</a>
                        </li>
                        <li>
                            <a class="px-3" href="https://ucommerce.net/" target="_blank">About</a>
                        </li>
                        <li>
                            <a class="px-3 text-danger" href="#">Sale</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <div class="bg-dark">
        <div class="container">
            <div class="confidences text-white js-confidences">
                <div class="confidence-item">
                    <span class="icon icon-star" aria-hidden="true" focusable="false" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/star.svg")))
                    </span>
                    5 star satisfaction
                </div>
                <div class="confidence-item">
                    <span class="icon icon-truck" aria-hidden="true" focusable="false" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/truck.svg")))
                    </span>
                    Next day delivery
                </div>
                <div class="confidence-item">
                    <span class="icon icon-box" aria-hidden="true" focusable="false" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/box.svg")))
                    </span>
                    Free returns
                </div>
                <div class="confidence-item">
                    <span class="icon icon-chat" aria-hidden="true" focusable="false" role="img">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/chat.svg")))
                    </span>
                    Live chat customer care
                </div>
            </div>
        </div>
    </div>

    @{Html.RenderAction("CategoryNavigation", "PartialView", new {partialViewType = (int)PartialTypes.CategoryNavigation }); }
    @RenderBody()
    @Html.Raw(Html.RenderJsHere())

    <footer class="site-footer bg-dark text-light mt-auto">
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-4 pr-lg-5 pb-4 pb-lg-2">
                    <p>
                        <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank">
                            <img class="logo-ucommerce" src="/img/site/logo-ucommerce.svg" alt="Powered by Ucommerce">
                        </a>
                    </p>
                    <p>Avenue Clothing is an example store to demonstrate the simple – yet powerful e‑commerce functionality Ucommerce brings to Umbraco.</p>
                    <p>All products listed are from existing retailers but no orders will be fulfilled.</p>
                </div>

                @{Html.RenderAction("CategoryNavigation", "PartialView", new {partialViewType = (int)PartialTypes.SiteWideCategoryNavigation }); }

                <div class="col-6 col-md-3 col-lg-2 pb-4 pb-lg-2">
                    <h6 class="mb-3 text-uppercase">Follow Us</h6>
                    <ul class="d-inline-flex d-lg-flex justify-content-between">
                        <li class="pr-3">
                            <a href="https://www.instagram.com/ucommercehq/?hl=en" target="_blank">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/social-instagram.svg")))
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="pr-3">
                            <a href="https://www.facebook.com/ucommerce.net/" target="_blank">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/social-facebook.svg")))
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ucommerce" target="_blank">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/social-twitter.svg")))
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-xl-4 pb-2">
                    <h6 class="mb-2 text-uppercase text-smaller">Payment Information</h6>
                    <p><img class="payment-options" src="/img/site/credit-cards.svg" alt="Payment Information"></p>
                </div>

                <div class="w-auto col-xl-5 pb-4 pb-xl-2">
                    <ul class="pipe-list d-inline-flex">
                        <li>
                            <span class="d-none d-sm-inline">Copyright </span>&copy;@DateTime.Now.Year <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank">Ucommerce ApS</a>
                        </li>
                        <li><a href="https://ucommerce.net/meet-the-team/data-privacy-and-cookie-policy/">Privacy</a></li>
                        <li><a href="https://ucommerce.net/meet-the-team/data-privacy-and-cookie-policy/">Terms</a></li>
                        <li><a href="https://ucommerce.net/meet-the-team/data-privacy-and-cookie-policy/">Cookies</a></li>
                    </ul>
                </div>

                <div class="w-auto col-xl-3 pb-4 pb-xl-2">
                    <p class="text-md-right">
                        e-commerce demo&rsquo;d by <a href="https://thesitedoctor.co.uk/ecommerce/" title="The Site Doctor - Herefordshire based Web Design, Development and IT Consultancy" target="_blank"><strong>The Site Doctor</strong></a> @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
