@inherits Umbraco.Web.Mvc.UmbracoViewPage<AvenueClothing.Models.PaymentViewModel>

@{
    Layout = "Layout.cshtml";
}

<div class="container py-4">
    <h1 class="h2 text-upper pb-4">Payment method</h1>

    <form method="post">
        @if (@Model.AvailablePaymentMethods.Count > 0)
        {
            foreach (var paymentMethod in @Model.AvailablePaymentMethods)
            {
                <label class="form-check-label is-radio mb-3">
                    @if (paymentMethod.Selected)
                    {
                        @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value, new {@checked = "checked"})
                    }
                    else
                    {
                        @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value)
                    }
                    <span class="cb"></span>
                    @paymentMethod.Text
                </label>
            }
        }
        else
        {
            <p class="alert">WARNING: No payment methods have been configured for @Model.ShippingCountry within <a href="http://ucommerce.dk">Ucommerce</a> administration area.</p>
        }

        <div class="d-flex flex-wrap justify-content-between">
            <a href="/basket/shipping.aspx" class="btn btn-outline-secondary mb-3 flex-grow-1 flex-md-grow-0">Back to Shipping Method</a>
            <button name="update-shipment" type="submit" class="btn btn-primary btn-lg mb-3 flex-grow-1 flex-md-grow-0">Continue to Confirmation</button>
        </div>
    </form>
</div>