@inherits Umbraco.Web.Mvc.UmbracoViewPage<AvenueClothing.Models.PurchaseOrderViewModel>
@{
    Layout = "Layout.cshtml";
}
<div class="container py-4">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-uppercase">Shipping address</h3>
                <address>
                    <strong>@Model.ShipmentAddress.FirstName @Model.ShipmentAddress.LastName</strong><br>
                    <span> @Model.ShipmentAddress.CompanyName</span>

                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.Attention))
                    {
                        <text>att. </text>
                        @Model.ShipmentAddress.Attention<br />
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.Line1))
                    {
                        @Model.ShipmentAddress.Line1<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.Line2))
                    {
                        @Model.ShipmentAddress.Line1<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.City))
                    {
                        @Model.ShipmentAddress.City<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.State))
                    {
                        @Model.ShipmentAddress.State<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.PostalCode))
                    {
                        @Model.ShipmentAddress.PostalCode<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.Country.Name))
                    {
                        @Model.ShipmentAddress.Country.Name<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.PhoneNumber))
                    {
                        <abbr class="mr-1" title="Phone">P:</abbr>@Model.ShipmentAddress.PhoneNumber<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.EmailAddress))
                    {
                        <abbr class="mr-1" title="Email">E:</abbr><a href="mailto:@Model.ShipmentAddress.EmailAddress">@Model.ShipmentAddress.EmailAddress</a>
                    }
                </address>
            </div>
            <div class="col-md-6">
                <h3 class="text-uppercase">Billing address</h3>

                <address>

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.FirstName))
                    {
                        <strong>@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</strong><br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.Line1))
                    {
                        @Model.BillingAddress.Line1<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.Line2))
                    {
                        @Model.BillingAddress.Line2<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.City))
                    {
                        @Model.BillingAddress.City<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.State))
                    {
                        @Model.BillingAddress.State<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.PostalCode))
                    {
                        @Model.BillingAddress.PostalCode<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.Country.Name))
                    {
                        <span>    @Model.BillingAddress.Country.Name</span><br>
                    }

                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.Attention))
                    {
                        <text>att. </text> @Model.BillingAddress.Attention<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.PhoneNumber))
                    {
                        <abbr class="mr-1" title="Phone">P:</abbr>@Model.BillingAddress.PhoneNumber<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.EmailAddress))
                    {
                        <abbr class="mr-1" title="Email">E:</abbr><a href="mailto:@Model.ShipmentAddress.EmailAddress">@Model.BillingAddress.EmailAddress</a>
                    }
                </address>
            </div>
        </div>

        <table class="table table-striped mb-4">
            <thead>
                <tr>
                    <th class="d-none d-md-table-cell">Item no.</th>
                    <th>
                        <span class="d-none d-md-inline">Description</span>
                    </th>
                    <th class="d-none d-md-table-cell text-right money">Price</th>
                    <th class="d-none d-md-table-cell text-right money">VAT</th>
                    <th class="text-right number">
                        <span class="d-md-none">Qty</span>
                        <span class="d-none d-md-inline">Quantity</span>
                    </th>
                    <th class="text-right money" colspan="3">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lineItem in @Model.OrderLines)
                {
                    <tr>
                        <td class="d-none d-md-table-cell">
                            @lineItem.Sku
                        </td>
                        <td>
                            <div class="d-md-none">
                                <p class="m-0"><strong>Item no.</strong> @lineItem.Sku</p>
                            </div>

                            @lineItem.ProductName
                        </td>
                        <td class="d-none d-md-table-cell text-right money">
                            @if (lineItem.Discount.HasValue && lineItem.Discount > 0)
                            {
                                <span style="text-decoration: line-through">
                                    @lineItem.Price
                                </span>
                                @lineItem.PriceWithDiscount
                            }
                            else
                            {
                                @lineItem.Price
                            }
                        </td>
                        <td class="d-none d-md-table-cell text-right money">@lineItem.Tax</td>
                        <td class="text-right number">@lineItem.Quantity</td>
                        <td class="text-right money" colspan="3">@lineItem.Total</td>
                    </tr>
                }
                <tr class="bg-white">
                    <td class="d-none d-md-table-cell" rowspan="@ViewBag.RowSpan"></td>
                    <td class="d-none d-md-table-cell" rowspan="@ViewBag.RowSpan"></td>
                    <td class="d-none d-md-table-cell" rowspan="@ViewBag.RowSpan"></td>
                    <td class="text-right" colspan="3">Sub total: </td>
                    <td class="text-right money">
                        @Model.SubTotal
                    </td>
                </tr>
                <tr class="bg-white">
                    <td class="text-right" colspan="3">VAT: </td>
                    <td class="text-right money">
                        @Model.TaxTotal
                    </td>
                </tr>
                @if (@Model.DiscountAmount != 0)
                {
                    <tr>
                        <td class="text-right" colspan="3">Order discounts: </td>
                        <td class="text-right money">- @Model.DiscountTotal</td>
                    </tr>
                }
                @if (@Model.ShipmentAmount != 0)
                {
                    <tr class="bg-white">
                        <td class="text-right" colspan="3">
                            Shipping
                            <text> (via @Model.ShipmentName)</text>
                        </td>
                        <td class="text-right money">@Model.ShippingTotal</td>
                    </tr>
                }
                @if (@Model.PaymentAmount != 0)
                {
                    <tr class="bg-white">
                        <td class="text-right" colspan="3">
                            Payment
                            <text> (@Model.PaymentName)</text>
                        </td>
                        <td class="text-right money">@Model.PaymentTotal</td>
                    </tr>
                }
                <tr class="bg-white">
                    <td class="text-right" colspan="3">Shipping (@Model.ShipmentName):</td>
                    <td class="text-right money">@Model.ShippingTotal</td>
                </tr>
                <tr class="bg-white">
                    <td class="text-right" colspan="3"><strong>Order total:</strong></td>
                    <td class="text-right money"><strong>@Model.OrderTotal</strong></td>
                </tr>
            </tbody>
        </table>

        <footer class="page-footer d-flex flex-wrap justify-content-between">
            <a href="/basket/payment" class="btn btn-outline-secondary mb-3">
                <span class="icon icon-xs mr-1 rotate-180 transform-from-bottom" aria-hidden="true" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/arrow-right.svg")))
                </span>
                <span class="d-none d-sm-inline">Back to </span>
                Payment
                <span class="d-none d-sm-inline"> Method</span>
            </a>
            <button name="send-order" type="submit" class="btn btn-primary mb-3">
                Complete Order
            </button>
        </footer>
    </form>
</div>