@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AvenueClothing.Models.ProductPageViewModel>
@{
    Layout = "Layout.cshtml";
    Html.RequiresJs("~/scripts/uCommerce.demostore.productpage.js", 3);
}
@if (Model.ItemAlreadyExists)
{
    <div class="alert alert-info mb-0">
        <div class="container">
            <button type="button" class="close" data-dismiss="alert">
                <span class="icon icon-xs" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/cross.svg")))
                </span>
                <span class="sr-only">Close alert</span>
            </button>
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <p class="m-0 p-0">
                    <strong>Note!&nbsp;</strong>This item is already in your basket.
                </p>
                <a class="btn btn-light my-1" href="/basket.aspx">
                    <strong>View Your Basket</strong>
                </a>
            </div>
        </div>
    </div>
}

<div class="bg-primary mb-5">
    <div class="container">
        @Umbraco.RenderMacro("UcommerceBreadcrumbs")
    </div>
</div>

<div class="container">
    <div id="product-details" class="row" itemscope itemtype="http://schema.org/Product">
        <div class="col-md-7 col-lg-8 pr-lg-5">
            @if (!string.IsNullOrEmpty(Model.ProductViewModel.ThumbnailImageUrl))
            {
                <div class="gallery-large js-slider-for">
                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>
                </div>
                <div class="gallery-thumbs mb-5 js-slider-nav">
                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>

                    <img src="@Model.ProductViewModel.ThumbnailImageUrl"/>
                </div>
            }

            <h5 class="text-uppercase mb-4">Description</h5>
            <div class="mb-4">
                @Html.Raw(Model.ProductViewModel.LongDescription)
            </div>

            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#delivery" aria-expanded="false" aria-controls="delivery">
                Delivery Info
                <span class="icon icon-small mr-1" aria-hidden="true" focusable="false" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/chevron.svg")))
                </span>
            </button>
            <div class="collapse" id="delivery">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>

            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#returns" aria-expanded="false" aria-controls="returns">
                Returns Info
                <span class="icon icon-small mr-1" aria-hidden="true" focusable="false" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/chevron.svg")))
                </span>
            </button>
            <div class="collapse mb-4" id="returns">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>

            <div class="my-4">
                @Umbraco.RenderMacro("UcommerceProductReviews")
            </div>
        </div>

        <section class="col-md-5 col-lg-4 pl-lg-5">
            @if (Model.ProductViewModel.Rating.HasValue)
            {
                <div class="pb-2">
                    <span class="star-rating text-primary">
                        @for (var i = 20; i <= 100; i = i + 20)
                        {
                            if (Model.ProductViewModel.Rating >= i)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        }
                    </span>
                </div>
            }
            <h2 itemprop="name">
                <b>@Model.ProductViewModel.Name</b>
            </h2>

            @if (Model.ProductViewModel.IsOrderingAllowed)
            {
                <form method="post" action="@Url.Action("Index", "Product")">
                    <div class="col-md-12 well">
                        <aside class="col-md-5" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <p class="item-price" itemprop="price">@Model.ProductViewModel.Price</p>
                            <p class="item-tax">
                                <small>Inc. tax of @Model.ProductViewModel.Tax</small>
                            </p>
                        </aside>

                        @if (Model.ProductViewModel.Properties.Count > 0 && Model.ProductViewModel.IsProductFamily)
                        {
                            foreach (var prop in Model.ProductViewModel.Properties)
                            {
                                var controlName = string.Format("variation-{0}", prop.PropertyName);
                                <label for="@controlName">@prop.PropertyName</label>
                                <select name="@controlName" id="@controlName" class="form-control mb-3 js-variant">
                                    <option value="">-- Please Select --</option>
                                    @foreach (var value in prop.Values)
                                    {
                                        <option value="@value">@value</option>
                                    }
                                </select>
                            }
                        }

                        <input name="Sku" id="product-sku" type="hidden" value="@Model.ProductViewModel.Sku"/>

                        <button id="add-to-basket" class="btn btn-dark hover-green w-100" type="submit">
                            <span class="icon icon-small mr-1" aria-hidden="true" focusable="false" role="img">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/bag.svg")))
                            </span>
                            Add to basket
                        </button>

                        @if (Model.AddedToBasket)
                        {
                            <div class="alert alert-success item-added my-3">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span class="icon icon-xs" role="img">
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/cross.svg")))
                                    </span>
                                    <span class="sr-only">Close alert</span>
                                </button>
                                <p>
                                    Thanks, this item has been added to your basket. <a href="/basket">Click here to view your basket</a>.
                                </p>
                            </div>
                        }
                    </div>
                </form>
            }
            else
            {
                <p>Sorry, the item you are looking for is not currently available.</p>
            }

            @Html.Raw(Model.ProductViewModel.ShortDescription)
        </section>
    </div>
</div>