@inherits Umbraco.Web.Mvc.UmbracoViewPage<AvenueClothing.Models.ProductsViewModel>
@{
    Layout = "Layout.cshtml";
}
<div class="container py-4">
    <h1 class="h2 pb-4">Search Results</h1>

    <div class="product-list">
        @if (Model.Products.Count() > 0) {
            foreach (var product in Model.Products)
            {
                <a href="@product.Url" id="@product.Sku" class="product mb-3">
                    <div class="product-image mb-3">
                        @if (!string.IsNullOrEmpty(product.ThumbnailImageUrl))
                        {
                            <img class="img-fluid" src="@product.ThumbnailImageUrl">
                        }
                    </div>

                    <div class="mx-2">
                        <p class="mb-1 text-truncate">
                            @product.Name
                        </p>
                        <p class="mb-1">
                            <strong>@product.Price</strong>
                        </p>
                    </div>
                </a>
            }
        } else {
            <p>No products found.</p>
        }

    </div>
</div>