@inherits Umbraco.Web.Mvc.UmbracoViewPage<AvenueClothing.Models.ShippingViewModel>

@{
    Layout = "Layout.cshtml";
}

<div class="container py-4">
    <h1 class="h2 text-upper pb-4">Shipping method</h1>

    <form method="post">
        @if (Model.AvailableShippingMethods.Count > 0)
        {
            foreach (var shippingMethod in Model.AvailableShippingMethods)
            {
                <label class="form-check-label is-radio mb-3">
                    @if (shippingMethod.Selected)
                    {
                        @Html.RadioButtonFor(x => x.SelectedShippingMethodId, shippingMethod.Value, new { @checked = "checked" })
                    } else
                    {
                        @Html.RadioButtonFor(x => x.SelectedShippingMethodId, shippingMethod.Value)
                    }
                    <span class="cb"></span>
                    @shippingMethod.Text
                </label>
            }
        }
        else
        {
            <p class="alert">WARNING: No shipping methods have been configured for @Model.ShippingCountry within <a href="http://ucommerce.dk">Ucommerce</a> administration area.</p>
        }

        <footer class="page-footer d-flex flex-wrap justify-content-between">
            <a href="/basket/address.aspx" class="btn btn-outline-secondary mb-3">
                <span class="icon icon-xs mr-1 rotate-180 transform-from-bottom" aria-hidden="true" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/arrow-right.svg")))
                </span>
                <span class="d-none d-sm-inline">Back to </span>
                Address
            </a>
            <button name="update-shipment" type="submit" class="btn btn-primary mb-3">
                <span class="d-none d-sm-inline">Continue to </span>
                Payment Page
                <span class="icon icon-xs ml-1 mb-1" aria-hidden="true" role="img">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/arrow-right.svg")))
                </span>
            </button>
        </footer>
    </form>
</div>